<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body>

<div th:replace="fragments::menu"/>

<div class="container">
    <h1>ONYX Integrator Client Setup</h1>

    <form th:action="@{/create-client}" th:object="${client}" method="post" modelAttribute="client">
        <div class="form-group">
             <label>Enter Client ID</label>
             <input type="text" class="form-control" th:field="*{clientId}">
        </div>
        <div class="form-group">
            <label>Enter Initial Access Token</label>
            <textarea class="form-control" th:field="*{initialAccessToken}" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Client Id</th>
            <th>Client Secret</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${home}">
            <td th:text="${t.name}"></td>
            <td th:text="${t.completed}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>